Please see the sample client report builder attached.  A long time ago we used to use this file to generate each client report manually then we copy/paste the data from the summary sheet into a separate file (as values only), then we would send to clients on a weekly basis.

 

The report contains Prospect data (ASLAN tab), email delivery data (Mandrill tab) and a main Campaign Summary sheet.  The Campaign Summary sheet reads and combines data from the other two sheets to present a summary of SoPro’s billable prospecting activity.  Only the prospects we have successfully emailed are displayed on the summary sheet.

 
(1)   Based on the prospect data in the ASLAN tab, which industry appears most frequently?
(2)   How many prospects have we successfully contacted in total?
(3)   How many prospects have we unsuccessfully attempted to contact (I.e. Mandrill sheet, Column F = bounced)
(4)   What was the most common reason for message bounce?  (Mandrill sheet, Column K)
(5)   How many prospects have opened our prospecting email more than 5 times?
(6)   Hourly performance.  We are very interested to learn which hour of the day is the best time to send an email.   
(6.a) Please calculate by hour of the day, total emails sent, opened and clicked.  Totals and percentages.  
(6.c) We need to understand the percentage open rates and click rates in order to better schedule our activity.  If we had to choose the best hour to send emails based on open rates, which hour should we choose?

## DATA ENTRY

In [2]:

#@hidden_cell
# The following code contains the credentials for a file in your IBM Cloud Object Storage.
# You might want to remove those credentials before you share your notebook.
credentials_1 = {
    'IAM_SERVICE_ID': 'iam-ServiceId-0f27953e-5c84-4b50-a1ac-c83e1b1f888d',
    'IBM_API_KEY_ID': 'bw4andwK2rZshYZOaP-SSojfXJe04Q1mxOb-F3bTEQyJ',
    'ENDPOINT': 'https://s3.private.eu.cloud-object-storage.appdomain.cloud',
    'IBM_AUTH_ENDPOINT': 'https://iam.cloud.ibm.com/oidc/token',
    'BUCKET': 'marketingexecutive-donotdelete-pr-e1ithroc5yawky',
    'FILE': 'Excel Test Oct 2018.xlsx'
}

In [59]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3
import io
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_5cd7f4b5da084e44a01840c358001f06 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='bw4andwK2rZshYZOaP-SSojfXJe04Q1mxOb-F3bTEQyJ',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_5cd7f4b5da084e44a01840c358001f06)

body = client_5cd7f4b5da084e44a01840c358001f06.get_object(Bucket='marketingexecutive-donotdelete-pr-e1ithroc5yawky',Key='Excel Test Oct 2018.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(io.BytesIO(body.read()))
df_data_0.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Prospect Identification and List Build,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Responses,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,SoPro-ID,Full Name,Job Title,Company,Location,Industry,Email Address,LinkedIn Profile Link,NaN,...,Outcome options,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1926,Miranda Hava,"Head of Client & Market Development, Non-core ...",PwC,"London, United Kingdom",Accounting,miranda.hava@pwc.com,https://uk.linkedin.com/pub/miranda-hava/7/a75...,NaN,...,LEAD - Direct Interest,NaN,NaN,NaN,NaN,Email Address,Response Received\n(useful but not required),Response category,Follow Up Message\n(useful but not required),Meeting \nBooked

In [60]:
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_5cd7f4b5da084e44a01840c358001f06 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='bw4andwK2rZshYZOaP-SSojfXJe04Q1mxOb-F3bTEQyJ',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_5cd7f4b5da084e44a01840c358001f06)

body = client_5cd7f4b5da084e44a01840c358001f06.get_object(Bucket='marketingexecutive-donotdelete-pr-e1ithroc5yawky',Key='Excel Test Oct 2018.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )


df_data_1 = pd.read_excel(io.BytesIO(body.read()),sheet_name="Mandrill")
df_data_1.head()

,ID,Email Address,Date,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Row Labels,Unnamed: 19,ID.1,(All),Unnamed: 22
0,NaN,awalker@investec.com,2015-09-21 09:39:15,hans.singh@axonn.co.uk,"Alexandra, digital content strategy - brief chat",bounced,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1926,NaN,NaN,NaN,NaN
1,2567.0,cara.renze@db.com,2015-09-21 09:39:17,hans.singh@axonn.co.uk,"Cara, digital content strategy - brief chat",sent,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1928,NaN,Row Labels,Sum of Opens,Sum of Clicks
2,1992.0,desiree.clarke-noble@rbccm.com,2015-09-21 09:39:20,hans.singh@axonn.co.uk,"Desiree, digital content strategy - brief chat",sent,NaN,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1932,NaN,a.can@allegrodev.com,10,0
3,1970.0,dc@abbey.com,2015-09-21 09:39:20,hans.singh@axonn.co.uk,"Daniel, digital content strategy - brief chat",sent,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1950,NaN,A.Dixon@panel2panel.co.uk,1,0
4,2073.0,frankie.woodhead@barclays.com,2015-09-21 09:39:21,hans.singh@axonn.co.uk,"Frankie, digital content strategy - brief chat",sent,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,1953,NaN,A.Leaver@samsung.com,0,0

In [61]:
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_5cd7f4b5da084e44a01840c358001f06 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_5cd7f4b5da084e44a01840c358001f06 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='bw4andwK2rZshYZOaP-SSojfXJe04Q1mxOb-F3bTEQyJ',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_5cd7f4b5da084e44a01840c358001f06)

body = client_5cd7f4b5da084e44a01840c358001f06.get_object(Bucket='marketingexecutive-donotdelete-pr-e1ithroc5yawky',Key='Excel Test Oct 2018.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )


df_data_2 = pd.read_excel(io.BytesIO(body.read()),sheet_name="ASLAN")
df_data_2.head()

,Email,Id,ProfileUrl,Name,Title,Location,Industry,Current,Previous,Company,CompanyWebsite,CompanyWebsiteDecoded,Email.1,Education,Summary,SummaryHtml,LinkedInGroups,CreateDate,LinkedInUsername
0,NaN,2432.0,https://uk.linkedin.com/pub/zoe-jeakins/23/478...,Zoe Jeakins,Project Manager at ICAEW,"London, United Kingdom",Accounting,ICAEW,ICAEW,NaN,http://www.icaew.com,http://www.icaew.com,NaN,NaN,NaN,NaN,NaN,2015-09-14 22:45:19,hans.singh@axonn.co.uk
1,NaN,2433.0,https://uk.linkedin.com/pub/tom-dixon/16/b64/312,Tom Dixon,Regional Underwriting Manager at Hiscox,"London, United Kingdom",Insurance,Hiscox,"Hiscox,Zurich Financial Services",NaN,http://www.hiscoxgroup.com,http://www.hiscoxgroup.com,NaN,NaN,NaN,NaN,NaN,2015-09-14 22:47:43,hans.singh@axonn.co.uk
2,NaN,2434.0,https://uk.linkedin.com/in/andrewrphilip,Andrew Philip,Programme and IT Operations Director,"London, United Kingdom",Banking,Barclays,"Barclays,Barclays Bank Plc - UK Retail Banking...",NaN,http://www.barclays.com,http://www.barclays.com,NaN,NaN,NaN,NaN,NaN,2015-09-14 22:50:02,hans.singh@axonn.co.uk
3,NaN,2435.0,https://uk.linkedin.com/pub/kanika-mehra-jaisi...,Kanika Mehra Jaisingh,Global CMB BRCM part of First Line of Defence ...,"London, United Kingdom",Banking,HSBC Commercial Banking,"HSBC Commercial Banking,HSBC,Citibank India",NaN,http://www.hsbc.com/about-hsbc/structure-and-n...,http://www.hsbc.com/about-hsbc/structure-and-n...,NaN,NaN,NaN,NaN,NaN,2015-09-14 22:52:25,hans.singh@axonn.co.uk
4,NaN,2436.0,https://uk.linkedin.com/pub/martin-kilbane/17/...,Martin Kilbane,"Deputy Head of Corporate, HSBC,West End Corpor...","London, United Kingdom",Banking,HSBC,"HSBC,Bank of Scotland",NaN,http://www.hsbc.com,http://www.hsbc.com,NaN,NaN,NaN,NaN,NaN,2015-09-14 22:54:32,hans.singh@axonn.co.uk

## DATA CLEANING

In [62]:
df = df_data_0.iloc[3: , :]
df=df.iloc[:,1:].reset_index(drop=True)
newheader=df.iloc[0]
df.columns=newheader
df=df.iloc[1:,:]
df.head()

,SoPro-ID,Full Name,Job Title,Company,Location,Industry,Email Address,LinkedIn Profile Link,NaN,Passive Engage,...,Outcome options,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1926,Miranda Hava,"Head of Client & Market Development, Non-core ...",PwC,"London, United Kingdom",Accounting,miranda.hava@pwc.com,https://uk.linkedin.com/pub/miranda-hava/7/a75...,NaN,1,...,LEAD - Direct Interest,NaN,NaN,NaN,NaN,Email Address,Response Received\n(useful but not required),Response category,Follow Up Message\n(useful but not required),Meeting \nBooked
2,1928,Nisha Henriques,Digital Marketing Manager,HSBC,"London, United Kingdom",Banking,nisha.henriques@hsbc.com,https://uk.linkedin.com/in/nishahenriques,NaN,3,...,LEAD - Referral,NaN,NaN,NaN,NaN,Mary.Harrison@dlink.com,NaN,NaN,NaN,NaN
3,1932,Mark Gilding,"Chief Operating Officer, Global Marketing at H...",HSBC,"London, Greater London, United Kingdom",Banking,markgilding@hsbc.com,https://uk.linkedin.com/pub/mark-gilding/35/54...,NaN,1,...,Interested But.. (I.e. No budget/Existing Age...,NaN,NaN,NaN,NaN,Daniel.Gregory@melcrum.com,"yes - Hi Hans,\n\nThanks for your email. \n\nI...",NaN,NaN,NaN
4,1950,Ruhul Uddin,"Digital Change Manager, Mobile Lead",Barclays,"London, United Kingdom",Banking,ruhul.uddin@barclays.com,https://uk.linkedin.com/in/ruhuluddin,NaN,1,...,Not interested,NaN,NaN,NaN,NaN,hiten.joshi@torpedofactory.co.uk,NaN,NaN,NaN,NaN
5,1953,Sahil Khan,Manager - Sales & Marketing,Paperchase Business Services Ltd,"London, United Kingdom",Accounting,sahil@pbsl-uk.com,https://uk.linkedin.com/pub/sahil-khan/5b/870/82a,NaN,1,...,Other,NaN,NaN,NaN,NaN,erica.paris@trentorise.eu,"yes - Hi Hans,\n\nthank you for your message. ...",NaN,NaN,NaN

In [8]:
#(1)   Based on the prospect data in the ASLAN tab, which industry appears most frequently?

df_data_2[['Industry']].describe()

# Information Technology and Services is the most frequent industry

                                   Industry
count                                 49360
unique                                  148
top     Information Technology and Services
freq                                   5345

In [21]:
#(2)   How many prospects have we successfully contacted in total?
suc=df_data_1[df_data_1['Status']=='sent'].reset_index(drop=True)
len(suc)

# 2273 prospects

2273

In [20]:
#(3)   How many prospects have we unsuccessfully attempted to contact (I.e. Mandrill sheet, Column F = bounced)

uns=df_data_1[df_data_1['Status']=='bounced']
len(uns)

#250 prospects

250

In [23]:
#(4)   What was the most common reason for message bounce?  (Mandrill sheet, Column K)

reason=uns[['Bounce Detail']]
reason.describe()
#df_data_1.groupby('Bounce Detail')['value'].nlargest(10)

# Top reason is smtp;550 5.1.1 RESOLVER.ADR.RecipNotFound; not

                                            Bounce Detail
count                                                 246
unique                                                 68
top     smtp;550 5.1.1 RESOLVER.ADR.RecipNotFound; not...
freq                                                   76

In [26]:
#(5)   How many prospects have opened our prospecting email more than 5 times?

email=df_data_1[df_data_1['Opens']>5]
len(email)

#118 prospects

118

In [63]:
# (6)   Hourly performance.  We are very interested to learn which hour of the day is the best time to send an email.   
#(6.a) Please calculate by hour of the day, total emails sent, opened and clicked.  Totals and percentages. 
df['Message Date\n(first msg)']=pd.to_datetime(df['Message Date\n(first msg)'])

In [64]:
sent=df_data_1
sent=sent[['Date','Status']]
sent.set_index('Date',inplace=True)
z=sent.groupby(sent.index.hour).count()
z['Percent']= (z['Status'] / z['Status'].sum()) * 100
z.head(10)

      Status    Percent
Date
7.0        2   0.077700
8.0      377  14.646465
9.0      385  14.957265
10.0     390  15.151515
11.0     368  14.296814
12.0     291  11.305361
14.0     335  13.014763
15.0     426  16.550117

In [65]:

opens=df_data_1[['Date','Opens']]
opens.set_index('Date',inplace=True)
x=opens.groupby(opens.index.hour).sum()
x['Percent']= (x['Opens'] / x['Opens'].sum()) * 100
x.head(20)

      Opens    Percent
Date
7.0     4.0   0.149981
8.0   390.0  14.623172
9.0   479.0  17.960255
10.0  425.0  15.935508
11.0  315.0  11.811024
12.0  294.0  11.023622
14.0  287.0  10.761155
15.0  473.0  17.735283

In [66]:
click=df_data_1[['Date','Clicks']]
click.set_index('Date',inplace=True)
y=click.groupby(click.index.hour).sum()
y['Percent']= (y['Clicks'] / y['Clicks'].sum()) * 100
y.head(10)

      Clicks    Percent
Date
7.0      0.0   0.000000
8.0     23.0  14.197531
9.0     31.0  19.135802
10.0    31.0  19.135802
11.0    21.0  12.962963
12.0    21.0  12.962963
14.0    14.0   8.641975
15.0    21.0  12.962963

In [71]:
r=z
r['Opens']=x['Opens']
r['Percent opened']=x['Percent']
r['Clicks']=y['Clicks']
r['Percent clicked']=y['Percent']
r=r.rename(columns={'Status':'Sent','Percent':'Persent sent'})
r.index.names = ['Hour of day']
r.head(10)

,Sent,Persent sent,Opens,Percent opened,Clicks,Percent clicked
Hour of day,,,,,,
7.0,2,0.077700,4.0,0.149981,0.0,0.000000
8.0,377,14.646465,390.0,14.623172,23.0,14.197531
9.0,385,14.957265,479.0,17.960255,31.0,19.135802
10.0,390,15.151515,425.0,15.935508,31.0,19.135802
11.0,368,14.296814,315.0,11.811024,21.0,12.962963
12.0,291,11.305361,294.0,11.023622,21.0,12.962963
14.0,335,13.014763,287.0,10.761155,14.0,8.641975
15.0,426,16.550117,473.0,17.735283,21.0,12.962963

In [ ]:
#(6.c) We need to understand the percentage open rates and click rates in order to better schedule our activity.  If we had to choose the best hour to send emails based on open rates, which hour should we choose?

#9 o'clock is the best time